.c-button {
    border: 0;
    cursor: pointer;
    user-select: none;

    &--secondary {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    &--black {
        background-color: var(--black-color);
        color: var(--primary-color);
    }
}
