.c-bag-product {
    align-items: center;
    flex-direction: row;
    gap: calc(var(--app-base-measure) * 4);
    justify-content: space-around;
    min-width: calc(var(--app-base-measure) * 20);
    padding: calc(var(--app-base-measure)) calc(var(--app-base-measure) * 4);
    position: relative;
    width: 100%;

    @media screen and (width <= 768px) {
        padding: calc(var(--app-base-measure)) calc(var(--app-base-measure) * 2);
    }

    .image {
        min-width: 20%;
        width: 25%;
    }

    .name {
        font-size: calc(var(--app-base-font-size) / 1.1);
        max-width: 20%;
        min-width: calc(var(--app-base-measure) * 6);
        width: 20%;

        @media screen and (width <= 768px) {
            display: none;
        }
    }

    .quantity {
        display: flex;
        flex-direction: column;
        gap: calc(var(--app-base-measure) / 1.8);
        max-width: 35%;
        min-width: calc(var(--app-base-measure) * 6);
        min-width: 20%;

        .title {
            font-size: calc(var(--app-base-font-size) / 2);
        }

        .content {
            align-items: center;
            background-color: var(--primary-color);
            border: solid 1px #8080808e;
            border-radius: calc(var(--app-base-measure) / 2);
            display: flex;
            font-size: calc(var(--app-base-font-size) / 1.3);
            gap: calc(var(--app-base-measure) / 1.8);
            justify-content: center;
            position: relative;

            .add-button {
                background-color: inherit;
                border: 0;
                max-width: 33%;
                padding: calc(var(--app-base-measure) / 3);
                transform: translate(-20%, 5%);
                width: 25%;
            }

            .number {
                border-bottom: solid calc(var(--app-base-measure) / 2) #fff;
                border-left: solid calc(var(--app-base-measure) / 5) #8080808e;
                border-right: solid calc(var(--app-base-measure) / 5) #8080808e;
                border-top: solid calc(var(--app-base-measure) / 2) #fff;
                font-size: calc(var(--app-base-font-size) / 1.4);
                max-width: 50%;
                overflow: hidden;
                padding: 0 calc(var(--app-base-measure) / 1.5);
                position: relative;
            }

            .subtract-button {
                background-color: inherit;
                border: 0;
                max-width: 25%;
                padding: calc(var(--app-base-measure) / 2);
                transform: translateX(20%);
                width: 33%;
            }
        }
    }

    .price {
        font-size: calc(var(--app-base-font-size) / 1.3);
        font-weight: bolder;
        margin: calc(var(--app-base-measure) * 5) 0;
        max-width: 20%;
        min-width: 10%;
    }

    .exclude-button {
        background-color: var(--black-color);
        border: 0;
        border-radius: 50%;
        color: var(--primary-color);
        padding: calc(var(--app-base-font-size) / 4)
            calc(var(--app-base-font-size) / 2);
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%) scale(0.8);
    }
}
