.c-home-nav-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: calc(var(--app-base-measure) * 2) calc(var(--app-base-measure) * 8);
    width: 100%;

    .brand {
        align-items: center;
        display: flex;
        gap: calc(var(--app-base-measure) / 2);
        justify-content: center;

        .logo {
            font-size: calc(var(--app-base-font-size) * 2);
            font-weight: 600;
        }

        .sub-title {
            font-size: calc(var(--app-base-font-size) * 1.4);
        }
    }

    .bag-button {
        align-items: center;
        border: 0;
        border-radius: var(--app-base-measure);
        display: flex;
        font-weight: bold;
        gap: var(--app-base-measure);
        justify-content: space-around;
        min-width: calc(var(--app-base-measure));
        padding: calc(var(--app-base-measure) * 1.3)
            calc(var(--app-base-measure) * 2.2);
        width: calc(var(--app-base-measure) * 10);

        .image {
            max-width: 40%;
            overflow: hidden;
            width: 40%;
        }

        .total-items {
            max-width: 60%;
            overflow: hidden;
            width: 60%;
        }
    }
}
