.c-text {
    &--gray {
        background-color: var(--gray-color);
        color: var(--primary-color);
    }

    &--secondary {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}
