.o-bag {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: calc(var(--app-base-measure) * 27);
    position: fixed;
    right: 0;
    width: 33%;
    z-index: var(--modal-index);

    @media screen and (width <= 1240px) {
        width: 60%;
    }

    @media screen and (width <= 768px) {
        width: 100%;
    }

    .top-content {
        display: flex;
        justify-content: space-between;
        max-height: calc(var(--app-base-measure) * 20);
        padding: calc(var(--app-base-measure) * 4)
            calc(var(--app-base-measure) * 6);
        position: sticky;
        top: 0;
        width: 100%;

        .title {
            font-size: calc(var(--app-base-font-size) * 1.5);
            font-weight: bold;
            position: relative;
            width: 40%;
        }

        .exit-button {
            background-color: var(--black-color);
            border: 0;
            border-radius: 50%;
            color: inherit;
            min-height: calc(var(--app-base-measure) * 4);
            min-width: calc(var(--app-base-measure) * 4);
            position: absolute;
            right: 10%;
            top: 40%;
            transform: translate(50%, -50%);
        }
    }

    .products-container {
        color: var(--black-color);
        height: 100%;
        overflow: hidden auto;
        position: relative;
        scroll-margin: 2px;

        .products {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: calc(var(--app-base-measure) * 4);
            height: 100%;
            justify-content: flex-start;
            padding: calc(var(--app-base-measure) * 4)
                calc(var(--app-base-measure) * 4);
        }
    }

    .bottom-content {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        width: 100%;

        .total {
            display: flex;
            font-size: calc(var(--app-base-font-size) * 1.2);
            font-weight: bold;
            justify-content: space-between;
            min-height: calc(var(--app-base-measure) * 6);
            padding: calc(var(--app-base-measure) * 3)
                calc(var(--app-base-measure) * 6);
            position: relative;
            width: 100%;

            .title {
                position: relative;
            }

            .number {
                position: relative;
            }
        }

        .purchase-button {
            background-color: var(--black-color);
            border: 0;
            color: inherit;
            font-size: calc(var(--app-base-font-size) * 1.2);
            font-weight: bold;
            min-height: calc(var(--app-base-measure) * 10);
            min-width: calc(var(--app-base-measure) * 10);
            position: relative;
            width: 100%;
        }
    }
}

.hide-state {
    display: none;
}
